{
"extends": ["@salesforce/eslint-config-lwc/recommended"],
"rules": {
    
    "sort-imports": "off", 
    "sort-keys": "off",
    "capitalized-comments": "off",
    "import-order": "off", 
    "member-ordering": "off",
    "indent": ["warn", 4],
    "linebreak-style": ["warn", "unix"], 
    "quotes": ["warn", "single"],
    "semi": ["warn", "always"]
  }
}
